
html {
   
}


body {
    background-color: #333333;
    margin-inline-end: auto;
    margin-inline-start: auto;
    max-width: 1440px;
    max-height: 500px;
}

main {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 1rem;
}

.search {
    width: 1000%;
}

img {
    width: 100%;
    border-radius: 20px;
}

.logo {
    width: 10%;
}


/* .places {
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

.button_container {
    background-color: white;
    border-radius: 10px;
    display: flex;
}

button {
    background-color: white;
}

button > * {
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: 1px solid rgb(216, 216, 219);
   
}

.icon_button {
  border-right: none;
  width: min-content;
}



.button_container {
   border: none;
   box-shadow: 2px 2px 4px rgb(216, 216, 219);
 
}

.buttons {
    float: right;
    margin-block-start: -60px;
   
}

span {
    width: 0.5px;
    height: 2rem;
}

.town, .add, .icon_button {
    padding: 1rem;
}

.button_container {
    margin-top: 0;
}

.add {
    color:  #BDBDBD;
}

.container {
    margin: 2rem;
    padding: 1rem;
    
}




.stays {
    font-weight: 700;
    float: right;
    padding-bottom: 1rem;
}

.star {
    width: 10%;
}

.rating {
    float: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
}

.host {
    text-transform: uppercase;
    border-radius: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #4F4F4F;
    padding: 0.3rem;
}

/* .information {
    display: flex;
   
} */

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.host, .type, .bed .rating {
    margin: 1rem;
}